<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn  btn-link">На Главную</button>
  </div>
  <div class="info">
    <strong> Тут автор</strong>
    <small>12.09.2019</small>
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore et magni qui quos vel.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore et magni qui quos vel.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore et magni qui quos vel.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore et magni qui quos vel.</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore et magni qui quos vel.</div>
</div>
